# coding: utf-8

"""
    \"Data Governance Center: REST API v2\"

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 2.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class AttributeTypesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def resource_attribute_type_resource_add_attribute_type_post(self, **kwargs):  # noqa: E501
        """Adds new attribute type.  # noqa: E501

        Adds new attribute type.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.resource_attribute_type_resource_add_attribute_type_post(async=True)
        >>> result = thread.get()

        :param async bool
        :param JsonAddAttributeTypeRequest body: the properties of the attribute type to be added
        :return: JsonAttributeTypeImpl
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.resource_attribute_type_resource_add_attribute_type_post_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.resource_attribute_type_resource_add_attribute_type_post_with_http_info(**kwargs)  # noqa: E501
            return data

    def resource_attribute_type_resource_add_attribute_type_post_with_http_info(self, **kwargs):  # noqa: E501
        """Adds new attribute type.  # noqa: E501

        Adds new attribute type.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.resource_attribute_type_resource_add_attribute_type_post_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param JsonAddAttributeTypeRequest body: the properties of the attribute type to be added
        :return: JsonAttributeTypeImpl
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method resource_attribute_type_resource_add_attribute_type_post" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/attributeTypes', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonAttributeTypeImpl',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def resource_attribute_type_resource_add_attribute_types_post(self, **kwargs):  # noqa: E501
        """Adds multiple attribute types.  # noqa: E501

        Adds multiple attribute types.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.resource_attribute_type_resource_add_attribute_types_post(async=True)
        >>> result = thread.get()

        :param async bool
        :param list[JsonAddAttributeTypeRequest] body: the properties of the attribute types to be added
        :return: list[JsonAttributeTypeImpl]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.resource_attribute_type_resource_add_attribute_types_post_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.resource_attribute_type_resource_add_attribute_types_post_with_http_info(**kwargs)  # noqa: E501
            return data

    def resource_attribute_type_resource_add_attribute_types_post_with_http_info(self, **kwargs):  # noqa: E501
        """Adds multiple attribute types.  # noqa: E501

        Adds multiple attribute types.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.resource_attribute_type_resource_add_attribute_types_post_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param list[JsonAddAttributeTypeRequest] body: the properties of the attribute types to be added
        :return: list[JsonAttributeTypeImpl]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method resource_attribute_type_resource_add_attribute_types_post" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/attributeTypes/bulk', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[JsonAttributeTypeImpl]',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def resource_attribute_type_resource_change_attribute_type_patch(self, attribute_type_id, **kwargs):  # noqa: E501
        """Changes the attribute type with the information that is present in the request.  # noqa: E501

        Changes the attribute type with the information that is present in the request. Only properties that are specified in this request and have not <code>null</code> values are updated. All other properties are ignored.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.resource_attribute_type_resource_change_attribute_type_patch(attribute_type_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str attribute_type_id: the <code>id</code> of the attribute type to be changed (required)
        :param JsonChangeAttributeTypeRequest body: the properties of the attribute type to be changed
        :return: JsonAttributeTypeImpl
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.resource_attribute_type_resource_change_attribute_type_patch_with_http_info(attribute_type_id, **kwargs)  # noqa: E501
        else:
            (data) = self.resource_attribute_type_resource_change_attribute_type_patch_with_http_info(attribute_type_id, **kwargs)  # noqa: E501
            return data

    def resource_attribute_type_resource_change_attribute_type_patch_with_http_info(self, attribute_type_id, **kwargs):  # noqa: E501
        """Changes the attribute type with the information that is present in the request.  # noqa: E501

        Changes the attribute type with the information that is present in the request. Only properties that are specified in this request and have not <code>null</code> values are updated. All other properties are ignored.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.resource_attribute_type_resource_change_attribute_type_patch_with_http_info(attribute_type_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str attribute_type_id: the <code>id</code> of the attribute type to be changed (required)
        :param JsonChangeAttributeTypeRequest body: the properties of the attribute type to be changed
        :return: JsonAttributeTypeImpl
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['attribute_type_id', 'body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method resource_attribute_type_resource_change_attribute_type_patch" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'attribute_type_id' is set
        if ('attribute_type_id' not in params or
                params['attribute_type_id'] is None):
            raise ValueError("Missing the required parameter `attribute_type_id` when calling `resource_attribute_type_resource_change_attribute_type_patch`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'attribute_type_id' in params:
            path_params['attributeTypeId'] = params['attribute_type_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/attributeTypes/{attributeTypeId}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonAttributeTypeImpl',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def resource_attribute_type_resource_change_attribute_types_patch(self, **kwargs):  # noqa: E501
        """Changes multiple attribute types.  # noqa: E501

        Changes multiple attribute types.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.resource_attribute_type_resource_change_attribute_types_patch(async=True)
        >>> result = thread.get()

        :param async bool
        :param list[JsonChangeAttributeTypeRequest] body: the properties of the attribute types to be changed
        :return: list[JsonAttributeTypeImpl]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.resource_attribute_type_resource_change_attribute_types_patch_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.resource_attribute_type_resource_change_attribute_types_patch_with_http_info(**kwargs)  # noqa: E501
            return data

    def resource_attribute_type_resource_change_attribute_types_patch_with_http_info(self, **kwargs):  # noqa: E501
        """Changes multiple attribute types.  # noqa: E501

        Changes multiple attribute types.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.resource_attribute_type_resource_change_attribute_types_patch_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param list[JsonChangeAttributeTypeRequest] body: the properties of the attribute types to be changed
        :return: list[JsonAttributeTypeImpl]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method resource_attribute_type_resource_change_attribute_types_patch" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/attributeTypes/bulk', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[JsonAttributeTypeImpl]',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def resource_attribute_type_resource_find_attribute_types_get(self, **kwargs):  # noqa: E501
        """Returns attribute types matching the given search criteria.  # noqa: E501

        Returns attribute types matching the given search criteria. Only parameters that are specified in this request and have not <code>null</code> values are used for filtering. All other parameters are ignored. The returned attribute types satisfy all constraints that are specified in this search criteria. By default a result containing 1000 attribute types is returned.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.resource_attribute_type_resource_find_attribute_types_get(async=True)
        >>> result = thread.get()

        :param async bool
        :param bool is_integer: Whether only integer-type attribute types should be searched or not
        :param str kind: The kind of the attribute type to search for
        :param str language: The language of the attribute type to search for
        :param int limit: The maximum number of results to retrieve. If not set (value = <tt>0</tt>), the default limit will be used
        :param str name: The name of the attribute type to search for
        :param str name_match_mode: The match mode used to compare <code>name</code>.
        :param int offset: The first result to retrieve. If not set (value = <tt>0</tt>), results will be retrieved starting from row <tt>0</tt>
        :param str sort_field: The field that should be used as reference for sorting
        :param str sort_order: The order of sorting
        :param bool statistics_enabled: Whether the attribute types should be searched with statistics enabled or not
        :return: JsonPagedResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.resource_attribute_type_resource_find_attribute_types_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.resource_attribute_type_resource_find_attribute_types_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def resource_attribute_type_resource_find_attribute_types_get_with_http_info(self, **kwargs):  # noqa: E501
        """Returns attribute types matching the given search criteria.  # noqa: E501

        Returns attribute types matching the given search criteria. Only parameters that are specified in this request and have not <code>null</code> values are used for filtering. All other parameters are ignored. The returned attribute types satisfy all constraints that are specified in this search criteria. By default a result containing 1000 attribute types is returned.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.resource_attribute_type_resource_find_attribute_types_get_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param bool is_integer: Whether only integer-type attribute types should be searched or not
        :param str kind: The kind of the attribute type to search for
        :param str language: The language of the attribute type to search for
        :param int limit: The maximum number of results to retrieve. If not set (value = <tt>0</tt>), the default limit will be used
        :param str name: The name of the attribute type to search for
        :param str name_match_mode: The match mode used to compare <code>name</code>.
        :param int offset: The first result to retrieve. If not set (value = <tt>0</tt>), results will be retrieved starting from row <tt>0</tt>
        :param str sort_field: The field that should be used as reference for sorting
        :param str sort_order: The order of sorting
        :param bool statistics_enabled: Whether the attribute types should be searched with statistics enabled or not
        :return: JsonPagedResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['is_integer', 'kind', 'language', 'limit', 'name', 'name_match_mode', 'offset', 'sort_field', 'sort_order', 'statistics_enabled']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method resource_attribute_type_resource_find_attribute_types_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'is_integer' in params:
            query_params.append(('isInteger', params['is_integer']))  # noqa: E501
        if 'kind' in params:
            query_params.append(('kind', params['kind']))  # noqa: E501
        if 'language' in params:
            query_params.append(('language', params['language']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'name' in params:
            query_params.append(('name', params['name']))  # noqa: E501
        if 'name_match_mode' in params:
            query_params.append(('nameMatchMode', params['name_match_mode']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'sort_field' in params:
            query_params.append(('sortField', params['sort_field']))  # noqa: E501
        if 'sort_order' in params:
            query_params.append(('sortOrder', params['sort_order']))  # noqa: E501
        if 'statistics_enabled' in params:
            query_params.append(('statisticsEnabled', params['statistics_enabled']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/attributeTypes', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonPagedResponse',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def resource_attribute_type_resource_get_attribute_type_by_name_get(self, attribute_type_name, **kwargs):  # noqa: E501
        """Returns attribute type identified by given name.  # noqa: E501

        Returns attribute type identified by given name.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.resource_attribute_type_resource_get_attribute_type_by_name_get(attribute_type_name, async=True)
        >>> result = thread.get()

        :param async bool
        :param str attribute_type_name: the name of the attribute type (required)
        :return: JsonAttributeTypeImpl
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.resource_attribute_type_resource_get_attribute_type_by_name_get_with_http_info(attribute_type_name, **kwargs)  # noqa: E501
        else:
            (data) = self.resource_attribute_type_resource_get_attribute_type_by_name_get_with_http_info(attribute_type_name, **kwargs)  # noqa: E501
            return data

    def resource_attribute_type_resource_get_attribute_type_by_name_get_with_http_info(self, attribute_type_name, **kwargs):  # noqa: E501
        """Returns attribute type identified by given name.  # noqa: E501

        Returns attribute type identified by given name.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.resource_attribute_type_resource_get_attribute_type_by_name_get_with_http_info(attribute_type_name, async=True)
        >>> result = thread.get()

        :param async bool
        :param str attribute_type_name: the name of the attribute type (required)
        :return: JsonAttributeTypeImpl
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['attribute_type_name']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method resource_attribute_type_resource_get_attribute_type_by_name_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'attribute_type_name' is set
        if ('attribute_type_name' not in params or
                params['attribute_type_name'] is None):
            raise ValueError("Missing the required parameter `attribute_type_name` when calling `resource_attribute_type_resource_get_attribute_type_by_name_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'attribute_type_name' in params:
            path_params['attributeTypeName'] = params['attribute_type_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/attributeTypes/name/{attributeTypeName}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonAttributeTypeImpl',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def resource_attribute_type_resource_get_attribute_type_get(self, attribute_type_id, **kwargs):  # noqa: E501
        """Returns attribute type identified by given id.  # noqa: E501

        Returns attribute type identified by given id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.resource_attribute_type_resource_get_attribute_type_get(attribute_type_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str attribute_type_id: the <code>id</code> of the attribute type (required)
        :return: JsonAttributeTypeImpl
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.resource_attribute_type_resource_get_attribute_type_get_with_http_info(attribute_type_id, **kwargs)  # noqa: E501
        else:
            (data) = self.resource_attribute_type_resource_get_attribute_type_get_with_http_info(attribute_type_id, **kwargs)  # noqa: E501
            return data

    def resource_attribute_type_resource_get_attribute_type_get_with_http_info(self, attribute_type_id, **kwargs):  # noqa: E501
        """Returns attribute type identified by given id.  # noqa: E501

        Returns attribute type identified by given id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.resource_attribute_type_resource_get_attribute_type_get_with_http_info(attribute_type_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str attribute_type_id: the <code>id</code> of the attribute type (required)
        :return: JsonAttributeTypeImpl
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['attribute_type_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method resource_attribute_type_resource_get_attribute_type_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'attribute_type_id' is set
        if ('attribute_type_id' not in params or
                params['attribute_type_id'] is None):
            raise ValueError("Missing the required parameter `attribute_type_id` when calling `resource_attribute_type_resource_get_attribute_type_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'attribute_type_id' in params:
            path_params['attributeTypeId'] = params['attribute_type_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/attributeTypes/{attributeTypeId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonAttributeTypeImpl',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def resource_attribute_type_resource_remove_attribute_type_delete(self, attribute_type_id, **kwargs):  # noqa: E501
        """Removes attribute type identified by given id.  # noqa: E501

        Removes attribute type identified by given id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.resource_attribute_type_resource_remove_attribute_type_delete(attribute_type_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str attribute_type_id: the <code>id</code> of the attribute type (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.resource_attribute_type_resource_remove_attribute_type_delete_with_http_info(attribute_type_id, **kwargs)  # noqa: E501
        else:
            (data) = self.resource_attribute_type_resource_remove_attribute_type_delete_with_http_info(attribute_type_id, **kwargs)  # noqa: E501
            return data

    def resource_attribute_type_resource_remove_attribute_type_delete_with_http_info(self, attribute_type_id, **kwargs):  # noqa: E501
        """Removes attribute type identified by given id.  # noqa: E501

        Removes attribute type identified by given id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.resource_attribute_type_resource_remove_attribute_type_delete_with_http_info(attribute_type_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str attribute_type_id: the <code>id</code> of the attribute type (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['attribute_type_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method resource_attribute_type_resource_remove_attribute_type_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'attribute_type_id' is set
        if ('attribute_type_id' not in params or
                params['attribute_type_id'] is None):
            raise ValueError("Missing the required parameter `attribute_type_id` when calling `resource_attribute_type_resource_remove_attribute_type_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'attribute_type_id' in params:
            path_params['attributeTypeId'] = params['attribute_type_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/attributeTypes/{attributeTypeId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def resource_attribute_type_resource_remove_attribute_types_delete(self, **kwargs):  # noqa: E501
        """Removes multiple attribute types.  # noqa: E501

        Removes multiple attribute types.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.resource_attribute_type_resource_remove_attribute_types_delete(async=True)
        >>> result = thread.get()

        :param async bool
        :param list[str] body: the <code>id</code>s of the attribute types to be removed, i.e. [“6f685f90-1036-4d30-983a-a9bbcdd7b8f6”,\"174b6334-9804-495d-b659-43f53a5de8b8\"]
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.resource_attribute_type_resource_remove_attribute_types_delete_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.resource_attribute_type_resource_remove_attribute_types_delete_with_http_info(**kwargs)  # noqa: E501
            return data

    def resource_attribute_type_resource_remove_attribute_types_delete_with_http_info(self, **kwargs):  # noqa: E501
        """Removes multiple attribute types.  # noqa: E501

        Removes multiple attribute types.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.resource_attribute_type_resource_remove_attribute_types_delete_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param list[str] body: the <code>id</code>s of the attribute types to be removed, i.e. [“6f685f90-1036-4d30-983a-a9bbcdd7b8f6”,\"174b6334-9804-495d-b659-43f53a5de8b8\"]
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method resource_attribute_type_resource_remove_attribute_types_delete" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/attributeTypes/bulk', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
