# coding: utf-8

"""
    \"Data Governance Center: REST API v2\"

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 2.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class SAMLApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def resource_saml_resource_get_sp_metadata_as_string_get(self, **kwargs):  # noqa: E501
        """Returns the SAML Service Provider metadata for a this instance.  # noqa: E501

        Returns the SAML Service Provider metadata for a this instance.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.resource_saml_resource_get_sp_metadata_as_string_get(async=True)
        >>> result = thread.get()

        :param async bool
        :param bool complete: whether or not the meta data generated should include the non-required attributes (completeMetadata = true means all the non-essential attributes too)
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.resource_saml_resource_get_sp_metadata_as_string_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.resource_saml_resource_get_sp_metadata_as_string_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def resource_saml_resource_get_sp_metadata_as_string_get_with_http_info(self, **kwargs):  # noqa: E501
        """Returns the SAML Service Provider metadata for a this instance.  # noqa: E501

        Returns the SAML Service Provider metadata for a this instance.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.resource_saml_resource_get_sp_metadata_as_string_get_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param bool complete: whether or not the meta data generated should include the non-required attributes (completeMetadata = true means all the non-essential attributes too)
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['complete']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method resource_saml_resource_get_sp_metadata_as_string_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'complete' in params:
            query_params.append(('complete', params['complete']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/security/saml', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
